<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DART Bank</title>
  <!-- Favicon -->
  <link rel="icon" href="http://res.cloudinary.com/dusdzfsxa/dart.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <header id="header" class="fixed">
    <div class="header-content ">
      <a class="logo" [routerLink]="['/home']">
        <a class="logo" href="#">
          <img src="http://res.cloudinary.com/dusdzfsxa/dart_logo_alone.svg" height="60px" alt="">
        </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h3 class="headname">DART Bank</h3>
      </a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li>
            <a [routerLink]="['/kycregister']">Add New Users</a>
          </li>
          <li>
            <a [routerLink]="['/approval']">KYC Approval</a>
          </li>
          <li>
            <a [routerLink]="['/kycsearch']">KYC Admin Tool</a>
          </li>
          <li>
            <a [routerLink]="['']">Log Out</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu
        <span></span>
      </a>
    </div>
  </header>
  <br>
  <br>
  <br>
  <section id="features" class="section img features3">
      <div style="/* z-index:9999999999999999999999999999; *//* line-height: 50%; */color: white;position: absolute;bottom: 350px;right: 35%;/* background-color: black; */color: white !important;padding-left: 20px;padding-right: 20px;"><h1 style="color:white">Welcome to DART Bank</h1></div>
    <div class="container ">
    </div>
  </section>
  
</body>

</html>