<!doctype html>
 <html class="no-js" lang="">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DART Bank</title>

  <!-- Favicon -->
  <link rel="icon" href="http://res.cloudinary.com/dusdzfsxa/dart.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<!-- header section -->
<section class="banner" style="min-height: 800px" role="banner">
  <header class="hd" id="header">
    <div class="header-content clearfix" style="padding: 20px 20px;"> <a class="logo" href="#"><img  src="http://res.cloudinary.com/dusdzfsxa/dart_logo_alone.svg" height="70px" alt="">
      &nbsp;&nbsp;&nbsp;
      <h2 style="color:white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; display: inline;">DART Bank</h2></a> 
      <!-- navigation section  -->
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
           <!-- <span style="text-align: left"> Login</span> 
          <li><a href="#banner">Login</a></li> -->
          <!-- <li><a href="#overview">Services Offered</a></li>
         <li><a href="#contact">Contact Us</a></li> -->
        </ul>
      </nav>
      <!-- <a href="#" class="nav-toggle">Menu<span></span></a> --> </div>
    <!-- navigation section  --> 
  </header>
  <!-- banner text section-->
  <div id="banner" class="container">
  </div>
 <div class="col-md-5 col-md-offset-4 conForm centerFlex">
     <!-- <div id="message"></div> -->
     <div>
     <div *ngIf="!name; else userinfo">
     <form [formGroup]="userDetail" (ngSubmit)="logUser()" name="fo">
       <h2 class="text-center" style="color: white">Forget Password</h2><br>
       <div class="col-md-12 text-center"> <div class="alert text-center" *ngIf="errmsg">{{msg}}</div> </div>
       <div>
       <input name="lo"  id="name" type="text" autocomplete="off" formControlName="password" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Password" >
       <div class="alert" *ngIf="!userDetail.controls['password'].valid && userDetail.controls['password'].touched">Atleast 6 letters must required</div>
       <input name="lo"  type="password" formControlName="conpassword"  class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Confirm Password" >
     </div>
     <div class="alert " *ngIf="userDetail.controls.conpassword.errors?.MatchPassword&& userDetail.controls['password'].touched">Password not match</div>

       <div class="col-md-12 text-center">
           <button type="submit" [disabled]="!loginDetail.valid" class="submitBnt btn "  value="Login">Finish</button>
           <!-- <button type="submit" [disabled]="!loginDetail.valid" class="btn btn-primary btn-block" value="Register">Register</button> -->
       </div>
      
     </form>
     </div>
     </div>
   </div>
</section>
<script src="https://unpkg.com/notie"></script>
</body>
</html>