.centerFlex {
    background:#AF3A66;
    position:absolute;
    color:#fff;
    top:430px;
    left:280px;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
   
  }


     
  .hd{
    background-color:#BA3D6E;
  }
  .removeunder
{
  text-decoration: none;
}